@keyframes ui-loading-spinner-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@layer components {
  .ui-loading-spinner {
    @apply flex items-center justify-center;
  }

  .ui-loading-spinner-indicator {
    @apply block border-current border-r-transparent! rounded-full;
    animation: 1s ui-loading-spinner-spin 0.5s ease-in-out infinite;
  }

  .ui-loading-spinner[data-size="sm"] .ui-loading-spinner-indicator {
    @apply size-4 border-2;
  }

  .ui-loading-spinner[data-size="md"] .ui-loading-spinner-indicator {
    @apply size-5 border-2;
  }

  .ui-loading-spinner[data-size="lg"] .ui-loading-spinner-indicator {
    @apply size-6 border-[3px];
  }
}

@media (prefers-reduced-motion: reduce) {
  .ui-loading-spinner-indicator {
    animation-duration: 1.5s;
  }
}
